* {
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica;
  }
  
  body {
    background: url('../img/13295064_5172658.jpg');
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .content{
    width: 90%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 15px black;
  }
  .match-container{
    margin-top: .1vh;
    background-color: #ffffff1c;
    height: 5vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-left: 1vw;
  }
  .match-data{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 60%;
    font-size: 160%;
  }
  .team-score{
    display: flex;
    flex-direction: row;
    gap: 8%;
  }

  .buttons-container{
    display:flex;
    flex-direction: row;
    gap: 10%;
  }

  .approve-btn{
    cursor: pointer;
    background-color: green;
    box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.25);
    padding: 2px;
    width: 7vw;
    height: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
  }
  .attention-txt{
    width: 100%;
    text-align: center;
    font-size: 90%;
    opacity: .5;
    margin-top: .2vh;
    padding-bottom: .2vh;
  }
  .decline-btn{
    cursor: pointer;
    background-color: red;
    box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.25);
    padding: 2px;
    width: 7vw;
    height: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
  }
  .arrow-btn{
    cursor: pointer;
    background-image: url('../img/arrow-right.svg');
    background-size: cover;
    background-position: center;
    width: 1.5vw;
    height: 1.5vw;
    transition: 0.15s;
  }
  .rotated{
    transform: rotate(90deg);
  }

  .players-container{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .player-stats{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    padding-left: 2vw;
  }

  @media screen and (max-width:1200px){
    
    .player-stats{
      grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    }
    ul{
      grid-template-columns: 18vw 18vw 18vw 18vw 18vw !important;
    }

  }

  .hidden{
    display:none;
  }

  nav{
    width: 100%;
    font-size: 130%;

  }

  ul{
    list-style: none;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    padding-left: 2vw;
    
  }

  li {
    color: rgb(20, 127, 226) !important;
  }

  @media screen and (max-width: 1000px){
    .approve-btn{
      scale: 1.8;
    }
    .decline-btn{
      scale: 1.8;
    }
    .buttons-container{
      gap: 8vw;
    }
  }
  @media screen and (min-width: 1001px) and (max-width: 1200px){
    .approve-btn{
      scale: 1.8;
    }
    .decline-btn{
      scale: 1.8;
    }
    .buttons-container{
      gap: 8vw;
    }
  }