* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.container {
  max-width: 100%;
  min-height: 110vh;
  position: relative;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  -webkit-user-select: none;
  user-select: none;
  background-image: url("../img/background-stadion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.subpage {
  background-image: url("../img/background-stadion-plain.jpg") !important;
}

.header-football-player {
  aspect-ratio: 1.27;
  width: 50%;
  position: absolute;
  top: 18%;
  right: 5%;
}

.header-text-container {
  opacity: .9;
  color: #fff;
  text-shadow: 3px 2px 10px #000;
  align-items: center;
  width: 50%;
  height: 50%;
  padding-left: 3vw;
  font-size: 8vw;
  font-weight: 700;
  display: flex;
  position: absolute;
  top: 30%;
  left: 0;
}

@media screen and (width <= 1000px) {
  .header-text-container {
    justify-content: center;
    width: 100%;
    font-size: 16vw;
  }
}

.header-text-container:before {
  content: "FUTBOL SZEŚCIOOSOBOWY";
  opacity: .7;
  font-size: 23%;
  position: absolute;
  transform: translate(.5vw, -4vw);
}

@media screen and (width <= 1000px) {
  .header-text-container:before {
    transform: translate(-10.5vw, -8vw);
  }
}

.header-text-container:after {
  content: "KRAKÓW";
  opacity: .85;
  font-size: 37%;
  position: absolute;
  transform: translate(22.5vw, 5vw);
}

@media screen and (width <= 1000px) {
  .header-text-container:after {
    transform: translate(22.5vw, 10vw);
  }
}

.nav {
  background: linear-gradient(#000000b3 34.38%, #0000 100%);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13%;
  display: flex;
  position: absolute;
  top: 0;
}

.nav-links {
  justify-content: space-evenly;
  align-items: center;
  gap: 4vw;
  width: auto;
  height: 100%;
  padding-right: 5vw;
  font-weight: 400;
  list-style: none;
  display: flex;
}

.nav-link:link, .nav-link:visited {
  color: #fff;
  font-size: calc(15px + .6vw);
  text-decoration: none;
}

.nav-link:hover {
  color: #12aaff;
}

.nav-selected-highlight {
  color: #0270b0 !important;
}

.header-logo-container {
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vw;
  width: 30%;
  height: 100%;
  display: flex;
  cursor: pointer !important;
}

.header-logo-container .header-logo-img {
  aspect-ratio: 1;
  height: 80%;
}

.header-logo-container .header-logo-text {
  color: #fff;
  letter-spacing: .1vw;
  font-size: calc(26.25px + 1.05vw);
  display: block;
}


@media screen and (max-width: 1000px){
  .header-logo-container{
    scale: 0.5;
  }
  .header-logo-text{
    display: none !important;
  }
  .nav-links li .nav-link{
    font-size: 80%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
  .header-logo-container{
    scale: 0.5;
  }
  .header-logo-text{
    display: none !important;
  }
  .nav-links li .nav-link{
    font-size: 200%;
  }
  .header-text-container{
    scale: 2;
    left: 30vw;
  }
}