* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  
  .container {
    max-width: 100%;
    min-height: 110vh;
    position: relative;
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .header {
    -webkit-user-select: none;
    user-select: none;
    background-image: url("../img/background-stadion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
  }
  
  .subpage {
    background-image: url("../img/background-stadion-plain.jpg") !important;
  }
  
  .footer {
    color: #fff;
    background-color: #0d0e13;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 130%;
    display: flex;
    position: relative;
  }
  
  .footer-copyright-container {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: 100%;
    padding-left: 5%;
    display: flex;
    position: absolute;
    left: 0;
  }
  
  .footer-socials-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-right: 5%;
    display: flex;
    position: absolute;
    right: 0;
  }

  .footer-socials-container .footer-socials-facebook-container {
    justify-content: center;
    align-items: center;
    gap: .2rem;
    width: 50%;
    display: flex;
  }
  
  .footer-socials-container .footer-socials-mail-container {
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 50%;
    display: flex;
  }
  
  .footer-copyright__icon, .footer-socials-facebook__icon, .footer-socials-mail__icon {
    aspect-ratio: 1;
    height: 3vh;
    position: relative;
  }
  
  .footer-copyright__icon img, .footer-socials-facebook__icon img, .footer-socials-mail__icon img {
    aspect-ratio: 1;
    height: 100%;
    position: absolute;
  }
  
  .footer-copyright__text {
    font-size: 50%;
  }
  
  .footer-socials-facebook__text, .footer-socials-mail__text {
    font-size: 75%;
  }
  
  .footer-logo {
    aspect-ratio: 1;
    height: 60%;
    left: 50%;
    right: 50%;
  }
  
  .nav {
    background: linear-gradient(#000000b3 34.38%, #0000 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13%;
    display: flex;
    position: absolute;
    top: 0;
  }
  
  .nav-links {
    justify-content: space-evenly;
    align-items: center;
    gap: 4vw;
    width: auto;
    height: 100%;
    padding-right: 5vw;
    font-weight: 400;
    list-style: none;
    display: flex;
  }
  
  .nav-link:link, .nav-link:visited {
    color: #fff;
    font-size: calc(15px + .6vw);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #12aaff;
  }
  
  .nav-selected-highlight {
    color: #0270b0 !important;
  }
  
  .header-logo-container {
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
    width: 30%;
    height: 100%;
    display: flex;
    cursor: pointer !important;
  }
  
  .header-logo-container .header-logo-img {
    aspect-ratio: 1;
    height: 80%;
  }
  
  .header-logo-container .header-logo-text {
    color: #fff;
    letter-spacing: .1vw;
    font-size: calc(26.25px + 1.05vw);
    display: block;
  }

  .header-glass-panel {
    background-color: #06061466;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 75%;
    display: flex;
    position: relative;
    top: 5%;
    box-shadow: 1px 1px 10px #000;
  }
  
  .glass-panel-nav {
    border-bottom: 1px solid #d3d3d333;
    align-items: center;
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-evenly;
  }
  
  .glass-panel-nav .glass-panel-filter {
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  
  .glass-panel-nav .glass-panel-filter .glass-panel-filter__icon {
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    transition: .15s ease-out;
  }
  .rotated{
    transform: rotate(90deg);
  }

  .glass-panel-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 80%;
    display: flex;
    position: absolute;
    bottom: 0vh;
    overflow-y: scroll !important;
  }
  
  .glass-panel-content .values-container {
    color: #fff;
    text-transform: uppercase;
    background: radial-gradient(circle, #ffffff0d 0%, #ffffff06 75%, #29355600 100%);
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    min-height: 6vh !important;
    font-size: 150%;
    display: flex;
    position: relative;
    overflow: hidden;
  }
    
  .glass-panel-content::-webkit-scrollbar {
    width: 10px;
    display: block;
  }
  
  .glass-panel-content::-webkit-scrollbar-thumb {
    background-color: #d7d7d74a;
    border-radius: 7px;
    width: 20px;
  }
  
  
  .stats-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
  }
  
  .stats-nav ul {
    justify-content: space-between;
    gap: 1%;
    height: 100%;
    list-style: none;
    display: flex;
    width: 75%;
  }
  
  .stats-nav ul li {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 20%;
    height: auto;
    display: flex;
  }

  
  .stats-nav ul li img {
    aspect-ratio: 1;
    height: 30%;
  }
  
  .stats-nav ul li span {
    color: #fff;
    font-size: 120%;
    font-weight: 600;
  }
  
  .stats-nav ul li span:hover {
    color: #f3f3b7;
  }
  
  .yellow-text {
    color: #ff0 !important;
  }
  .reversed{
    transform: scaleY(-1);
  }

  .values-headline {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 10vh;
  }
  
  .values-headline .values-headline-container {
    justify-content: space-around;
    width: 25%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 10%;
  }
  
  .values-headline .values-headline-container .headline-container__value {
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    display: flex;
    gap: 2%;
  }
  
  .headline-container__value img{
    /* position: absolute; */
    height: 50%;
    width: 50%;
  }
  
  .values-headline .values-headline-container .headline-container__value span {
    color: #fff;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: 130%;
    display: flex;
  }
  
  
  .values-headline .values-headline-container .headline-container__value span:hover {
    color: #f3f3b7;
  }
  
  .values-headline .values-headline-container .headline-container__value div {
    aspect-ratio: 1;
    border: 1px solid #00f;
    height: 100%;
  }
  
  .teamname-container a:hover{
    color: #f3f3b7;
  }
  
  .stats-value__teamname {
    white-space: nowrap;
    width: 45%;
    position: absolute;
    left: 5%;
    overflow: hidden;
  }
  
  .stats-value-container {
    width: 25%;
    display: flex;
    position: absolute;
    right: 10%;
  }
  
  .stats-value-container span {
    text-align: center;
    width: 50%;
  }
  
  .displayed {
    display: flex;
  }
  
  .hidden {
    display: none !important;
  }
  
  .stats-value__teamname:visited, .stats-value__teamname:link{
    text-decoration: none;
    color: white;
  }
  
  .stats-value__teamname:hover{
    color: #f3f3b7;
  }
  
  .filter-bar{
    display: flex;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: rgba(0, 0, 0, 0.150);
    width: 6%;
    height: auto;
    border-left: 0.5px solid rgba(0, 0, 0, 0.300);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.300);
    position: absolute;
    right: 0;
    top: 10vh;
    border-bottom-left-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transform: scaleY(0);
    transition: .15s ease-out;
  }
  .shown {
    opacity: 1;
    pointer-events: all;
    transform: scaleY(1);
  }
  .filter-bar img{
    aspect-ratio: 1;
    height: 2vw;
    cursor: pointer;
    opacity: 50%;
  }
  .filter-active{
    opacity: 100% !important;
    scale: 120%;
  }


  @media screen and (max-width: 1000px){
    .glass-panel-filter__icon{
        scale: 0.8;
    }
    .filter-bar{
        top: 8vh;
        width: 10vw;
        border-bottom-left-radius: 10px;
    }
    .filter-bar img{
      width: 7.5vw;
      height: 7.5vw;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
    .glass-panel-filter__icon{
        scale: 0.8;
    }
    .filter-bar{
        top: 8vh;
        width: 10vw;
    }
}

@media screen and (max-width: 1000px){
    .footer-copyright-container{
        width: 40%;
        height: 80%;
    }
    .footer-copyright__text{
        font-size: 40%;
    }
    .footer-socials-container{
        flex-direction: column;
        align-items: right !important;
        width: 40%;
    }
    .footer-socials-facebook__icon{
        scale: 0.8;
    }
    .footer-socials-facebook__text{
        font-size: 50%;
    }
    .footer-socials-mail__icon{
        scale: 0.7;
    }
    .footer-socials-mail__text{
        font-size: 50%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .footer-copyright-container{
        width: 40%;
        height: 80%;
    }
    .footer-copyright__text{
        font-size: 110%;
    }
    .footer-socials-container{
        flex-direction: column;
        align-items: right !important;
        width: 40%;
    }
    .footer-socials-facebook__icon{
        scale: 0.8;
    }
    .footer-socials-facebook__text{
        font-size: 120%;
    }
    .footer-socials-mail__icon{
        scale: 0.7;
    }
    .footer-socials-mail__text{
        font-size: 120%;
    }
}

@media screen and (max-width: 1000px){
    .stats-nav li{
        display: flex;
        flex-direction: column;
    }
    .stats-nav ul li span {
        font-size: 50%;
    }
    .stats-nav ul li img {
        scale: 0.75;
    }
    .stats-nav{
        width: 80%;
        left: 5vw;
    }
    .sortbutton{
        font-size: 60% !important;
    }
    .values-headline-container{
        gap: 5vw;
    }
    .headline-container__value img{
        scale: 0.8;
    }
    .filter-bar{
        top: 10vh;
    }
    .stats-value__teamname{
        font-size: 60%;
    }
    .stats-value-container span{
        font-size: 60%;
    }
    .glass-panel-content::-webkit-scrollbar{
        width: 5px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .stats-nav{
        width: 80%;
        left: 5vw;
    }
    .stats-nav ul{
        gap: 7vw;
    }
    .stats-nav li{
        display: flex;
        flex-direction: column;
    }
    .stats-value__teamname{
        font-size: 130%;
    }
    .stats-value-container span{
        font-size: 130%;
    }
    .sortbutton{
        font-size: 200% !important;
    }
    .values-headline-container{
        gap: 5vw;
    }
    .headline-container__value img{
        scale: 0.8;
    }
    .filter-bar{
        top: 10vh;
    }
}

@media screen and (max-width: 1000px){
    .header-logo-container{
        scale: 0.5;
    }
    .header-logo-text{
        display: none !important;
    }
    .nav-links {
        scale: 0.9;
    }
    .nav-links li .nav-link {
        font-size: 90%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .header-logo-container{
        scale: 0.5;
    }
    .header-logo-text{
        display: none !important;
    }
    .nav-links li .nav-link {
        font-size: 230%;
    }
    .glass-panel-filter{
        position: relative;
        right: 0;
    }
}