* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  
  .container {
    max-width: 100%;
    min-height: 110vh;
    position: relative;
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .header {
    -webkit-user-select: none;
    user-select: none;
    background-image: url("../img/background-stadion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
  }
  
  .subpage {
    background-image: url("../img/background-stadion-plain.jpg") !important;
  }
  
  .header-football-player {
    aspect-ratio: 1.27;
    width: 50%;
    position: absolute;
    top: 18%;
    right: 5%;
  }
  
  .header-text-container {
    opacity: .9;
    color: #fff;
    text-shadow: 3px 2px 10px #000;
    align-items: center;
    width: 50%;
    height: 50%;
    padding-left: 3vw;
    font-size: 8vw;
    font-weight: 700;
    display: flex;
    position: absolute;
    top: 30%;
    left: 0;
  }
  
  @media screen and (width <= 1000px) {
    .header-text-container {
      justify-content: center;
      width: 100%;
      font-size: 16vw;
    }
  }
  
  .header-text-container:before {
    content: "FUTBOL SZEŚCIOOSOBOWY";
    opacity: .7;
    font-size: 23%;
    position: absolute;
    transform: translate(.5vw, -4vw);
  }
  
  @media screen and (width <= 1000px) {
    .header-text-container:before {
      transform: translate(-10.5vw, -8vw);
    }
  }
  
  .header-text-container:after {
    content: "KRAKÓW";
    opacity: .85;
    font-size: 37%;
    position: absolute;
    transform: translate(22.5vw, 5vw);
  }
  
  @media screen and (width <= 1000px) {
    .header-text-container:after {
      transform: translate(22.5vw, 10vw);
    }
  }
  
  .footer {
    color: #fff;
    background-color: #0d0e13;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 130%;
    display: flex;
    position: relative;
  }
  
  .footer-copyright-container {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: 100%;
    padding-left: 5%;
    display: flex;
    position: absolute;
    left: 0;
  }
  
  @media screen and (width <= 1000px) {
    .footer-copyright-container {
      width: 30%;
      font-size: 90%;
    }
  }
  
  .footer-socials-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-right: 5%;
    display: flex;
    position: absolute;
    right: 0;
  }
  
  @media only screen and (width <= 1000px) {
    .footer-socials-container {
      flex-direction: column;
      gap: 10%;
      font-size: 80%;
    }
  }
  
  .footer-socials-container .footer-socials-facebook-container {
    justify-content: center;
    align-items: center;
    gap: .2rem;
    width: 50%;
    display: flex;
  }
  
  .footer-socials-container .footer-socials-mail-container {
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 50%;
    display: flex;
  }
  
  .footer-copyright__icon, .footer-socials-facebook__icon, .footer-socials-mail__icon {
    aspect-ratio: 1;
    height: 3vh;
    position: relative;
  }
  
  .footer-copyright__icon img, .footer-socials-facebook__icon img, .footer-socials-mail__icon img {
    aspect-ratio: 1;
    height: 100%;
    position: absolute;
  }
  
  .footer-copyright__text {
    font-size: 50%;
  }
  
  .footer-socials-facebook__text, .footer-socials-mail__text {
    font-size: 75%;
  }
  
  .footer-logo {
    aspect-ratio: 1;
    height: 60%;
    left: 50%;
    right: 50%;
  }
  
  .nav {
    background: linear-gradient(#000000b3 34.38%, #0000 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13%;
    display: flex;
    position: absolute;
    top: 0;
  }
  
  .nav-links {
    justify-content: space-evenly;
    align-items: center;
    gap: 4vw;
    width: auto;
    height: 100%;
    padding-right: 5vw;
    font-weight: 400;
    list-style: none;
    display: flex;
  }
  
  .nav-link:link, .nav-link:visited {
    color: #fff;
    font-size: calc(15px + .6vw);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #12aaff;
  }
  
  .nav-selected-highlight {
    color: #0270b0 !important;
  }
  
  .header-logo-container {
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
    width: 30%;
    height: 100%;
    display: flex;
    cursor: pointer !important;
  }
  
  .header-logo-container .header-logo-img {
    aspect-ratio: 1;
    height: 80%;
  }
  
  .header-logo-container .header-logo-text {
    color: #fff;
    letter-spacing: .1vw;
    font-size: calc(26.25px + 1.05vw);
    display: block;
  }
  
  @media screen and (width <= 700px) {
    .header-logo-container .header-logo-text {
      display: none;
    }
  }
  
  .header-glass-panel {
    opacity: .9;
    background-color: #060614;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 75%;
    display: flex;
    position: absolute;
    top: 17%;
  }
  
  .glass-panel-nav {
    border-bottom: 1px solid #d3d3d333;
    width: 100%;
    height: 13%;
    position: absolute;
    top: 0;
  }
  
  .glass-panel-nav .glass-panel-searchbar {
    justify-content: flex-start;
    align-items: center;
    gap: .5vw;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    position: relative;
  }
  
  .glass-panel-nav .glass-panel-searchbar .glass-panel-searchbar__icon {
    aspect-ratio: 1;
    height: 45%;
  }
  
  .glass-panel-nav .glass-panel-searchbar .glass-panel-searchbar__input {
    color: #fff;
    background-color: #3e3ece1c;
    border: none;
    border-radius: 30px;
    outline: none;
    min-width: 700px;
    height: 50%;
    padding-left: 2%;
    font-size: 150%;
  }
  
  @media screen and (width <= 1200px) {
    .glass-panel-nav .glass-panel-searchbar .glass-panel-searchbar__input {
      max-width: auto;
      min-width: 65%;
    }
  }
  
  .glass-panel-nav .glass-panel-filter {
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .glass-panel-nav .glass-panel-filter .glass-panel-filter__icon {
    width: 60%;
    height: 60%;
  }
  
  .glass-panel-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 87%;
    display: flex;
    position: absolute;
    top: 13%;
    overflow-y: scroll;
  }
  
  .glass-panel-content .values-container {
    color: #fff;
    text-transform: uppercase;
    background: radial-gradient(circle, #ffffff0d 0%, #ffffff06 75%, #29355600 100%);
    border: 1px solid pink;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 9%;
    font-size: 150%;
    display: flex;
    overflow: hidden;
  }
  
  @media screen and (width <= 800px) {
    .glass-panel-content .values-container {
      font-size: 120%;
    }
  }
  
  .glass-panel-content .values-container .value-team-league__icon {
    aspect-ratio: 1;
    border: 1px solid pink;
    height: 60%;
  }
  
  .glass-panel-content .values-container .values__score {
    position: absolute;
  }
  
  .glass-panel-content .values-container .values__date {
    position: absolute;
    right: 5%;
  }
  
  @media screen and (width <= 800px) {
    .glass-panel-content .values-container .values__date {
      font-size: 70%;
    }
  }
  
  .glass-panel-content::-webkit-scrollbar {
    width: 10px;
    display: block;
  }
  
  .glass-panel-content::-webkit-scrollbar-thumb {
    background-color: #d7d7d74a;
    border-radius: 7px;
    width: 20px;
  }
  
  .matches-container {
    top: 0 !important;
  }
  
  .headline {
    color: #a9a9a9 !important;
    background: none !important;
    gap: 5vw !important;
  }
  
  .headline .headline__date {
    position: absolute;
    right: 5%;
  }
  
  .headline .headline__teamname {
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    font-size: 2.5vh;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .headline .headline__teamname .img {
    aspect-ratio: 1;
    border: 1px solid #0f0;
    height: 100%;
  }
  
  .team--A {
    text-align: right;
    border: 1px solid tan;
    left: 5vw;
  }
  
  .team--B {
    text-align: left;
    border: 1px solid #f0f;
    justify-content: flex-end;
    right: 13vw;
    width: 25% !important;
  }
  
  .teamname-container {
    white-space: nowrap;
    width: 35%;
    position: absolute;
    overflow: hidden;
  }
  
  @media screen and (width <= 1000px) {
    .teamname-container {
      font-size: 70%;
    }
  }
  
  .short-name {
    display: none;
  }
  
  @media screen and (width <= 800px) {
    .short-name {
      display: inline-block;
    }
  
    .long-name {
      display: none;
    }
  }
  
  @media screen and (width <= 1200px) {
    .long-name {
      font-size: 60%;
    }
  }
  
  .statistics-panel {
    width: 85%;
    height: 70%;
    display: flex;
    position: relative;
    top: 5%;
  }
  
  .statistics-panel .team-details-container {
    border-right: 1px solid #d1d1d180;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .statistics-panel .team-details-container .team-details__statistics {
    color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--teamname {
    text-shadow: 1px 1px 10px #000;
    white-space: nowrap;
    width: 100%;
    height: auto;
    font-size: 250%;
    font-weight: bold;
    position: absolute;
    top: 2%;
    left: 0;
    overflow-x: scroll;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--league {
    text-shadow: 1px 1px 3px #000;
    width: 100%;
    height: 3%;
    font-size: 120%;
    font-weight: 200;
    position: absolute;
    top: 12%;
    left: 1%;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--league span {
    font-size: 150%;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container {
    flex-direction: column;
    gap: 3%;
    width: 70%;
    height: 70%;
    display: flex;
    position: absolute;
    bottom: 0;
  }
  
  @media screen and (width <= 1300px) {
    .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container {
      width: 95%;
    }
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box {
    background: radial-gradient(circle, #ffffff12 0%, #ffffff08 75%, #29355600 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-left: 2%;
    font-weight: 200;
    display: flex;
    position: relative;
  }
  
  @media screen and (width <= 1200px) {
    .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box {
      font-size: 200%;
      width: 100% !important;
    }
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box .statistic-box {
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box .statistic-box .scores-up {
    color: #0f0;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box .statistic-box .scores-down {
    color: red;
  }
  
  .statistics-panel .team-details-container .team-details__streak {
    width: 30vh;
    height: 8%;
    position: absolute;
    bottom: 10%;
    left: 0;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul {
    background: radial-gradient(circle, #ffffff12 0%, #ffffff08 75%, #29355600 100%);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul li {
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    font-size: 200%;
    font-weight: bold;
    display: flex;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul .streak__win {
    color: #4ea769 !important;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul .streak__lose {
    color: #c05d5d !important;
  }
  
  .statistics-panel .team-details-container .team-details__streak:before {
    content: "OSTATNIE WYNIKI";
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 110%;
    font-weight: 600;
  }
  
  .statistics-panel .player-list-container {
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .statistics-panel .player-list-container .player-list-window {
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
    display: flex;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__teammembers {
    text-shadow: 1px 1px 10px #000;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 1%;
    font-size: 250%;
    font-weight: bold;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__header {
    text-align: center;
    color: #fff;
    word-spacing: .1vw;
    text-shadow: 1px 1px 10px #000;
    width: 100%;
    height: 5%;
    font-size: 130%;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 88%;
    display: flex;
    overflow: scroll;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box {
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 8%;
    display: flex;
    position: relative;
  }
  
  @media screen and (width <= 1200px) {
    .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box {
      min-height: 5%;
    }
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role {
    text-align: left;
    width: 18%;
    height: 60%;
    position: absolute;
    left: 0;
  }
  
  @media screen and (width <= 1200px) {
    .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role {
      height: 40%;
    }
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .role--icon {
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    left: 0;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .role--name {
    width: 75%;
    height: 50%;
    font-size: 90%;
    position: absolute;
    bottom: .2vw;
    right: 0;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .captain {
    background-image: url("../img/star-yellow.svg");
    color: #ff0 !important;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .goalkeeper {
    background-image: url("../img/keeper-gloves.svg");
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__name {
    text-align: center;
    width: 60%;
    height: 60%;
    overflow: hidden;
  }
  
  .yellow {
    color: #ff0;
  }
  
  .bold {
    font-size: 150%;
    font-weight: 600;
  }
  
  .sub {
    aspect-ratio: 1;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-size: 80%;
    display: flex;
  }
  
  .statistics-matches__played {
    margin-right: 5vh;
  }
  
  @media screen and (width <= 1200px) {
    .shown {
      z-index: 2;
      position: absolute;
      overflow: hidden;
      width: 90% !important;
    }
  }
  
  .player-list__person-box::-webkit-scrollbar {
    display: block;
  }
  
  .player-list__person-box::-webkit-scrollbar-thumb {
    background-color: red;
  }
  