* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  
  .container {
    max-width: 100%;
    min-height: 110vh;
    position: relative;
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .header {
    -webkit-user-select: none;
    user-select: none;
    background-image: url("../img/background-stadion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
  }
  
  .subpage {
    background-image: url("../img/background-stadion-plain.jpg") !important;
  }
  
  .nav {
    background: linear-gradient(#000000b3 34.38%, #0000 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13%;
    display: flex;
    position: absolute;
    top: 0;
  }
  
  .nav-links {
    justify-content: space-evenly;
    align-items: center;
    gap: 4vw;
    width: auto;
    height: 100%;
    padding-right: 5vw;
    font-weight: 400;
    list-style: none;
    display: flex;
  }
  
  .nav-link:link, .nav-link:visited {
    color: #fff;
    font-size: calc(15px + .6vw);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #12aaff;
  }
  
  .nav-selected-highlight {
    color: #0270b0 !important;
  }
  
  .header-logo-container {
    justify-content: flex-start;
    align-items: center;
    gap: 1.5vw;
    width: 30%;
    height: 100%;
    display: flex;
    cursor: pointer !important;
  }
  
  .header-logo-container .header-logo-img {
    aspect-ratio: 1;
    height: 80%;
  }
  
  .header-logo-container .header-logo-text {
    color: #fff;
    letter-spacing: .1vw;
    font-size: calc(26.25px + 1.05vw);
    display: block;
  }

  .statistics-panel {
    width: 85%;
    height: 70%;
    display: flex;
    position: relative;
    top: 5%;
  }
  
  .statistics-panel .team-details-container {
    border-right: 1px solid #d1d1d180;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .statistics-panel .team-details-container .team-details__statistics {
    color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--teamname {
    text-shadow: 1px 1px 10px #000;
    white-space: nowrap;
    width: 100%;
    height: auto;
    font-size: 250%;
    font-weight: bold;
    position: absolute;
    top: 2%;
    left: 0;
    overflow-x: scroll;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--league {
    text-shadow: 1px 1px 3px #000;
    width: 100%;
    height: 3%;
    font-size: 120%;
    font-weight: 200;
    position: absolute;
    top: 12%;
    left: 1%;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--league span {
    font-size: 150%;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container {
    flex-direction: column;
    gap: 3%;
    width: 70%;
    height: 70%;
    display: flex;
    position: absolute;
    bottom: 0;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box {
    background: radial-gradient(circle, #ffffff12 0%, #ffffff08 75%, #29355600 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-left: 2%;
    font-weight: 200;
    display: flex;
    position: relative;
  }

  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box .statistic-box {
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box .statistic-box .scores-up {
    color: #0f0;
  }
  
  .statistics-panel .team-details-container .team-details__statistics .team-details__statistics--container .shade-box .statistic-box .scores-down {
    color: red;
  }
  
  .statistics-panel .team-details-container .team-details__streak {
    width: 30vh;
    height: 8%;
    position: absolute;
    bottom: 10%;
    left: 0;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul {
    background: radial-gradient(circle, #ffffff12 0%, #ffffff08 75%, #29355600 100%);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul li {
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    font-size: 200%;
    font-weight: bold;
    display: flex;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul .streak__win {
    color: #4ea769 !important;
  }
  
  .statistics-panel .team-details-container .team-details__streak ul .streak__lose {
    color: #c05d5d !important;
  }
  
  .statistics-panel .team-details-container .team-details__streak:before {
    content: "OSTATNIE WYNIKI";
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 110%;
    font-weight: 600;
  }
  
  .statistics-panel .player-list-container {
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .statistics-panel .player-list-container .player-list-window {
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
    display: flex;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__teammembers {
    text-shadow: 1px 1px 10px #000;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 1%;
    font-size: 250%;
    font-weight: bold;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__header {
    text-align: center;
    color: #fff;
    word-spacing: .1vw;
    text-shadow: 1px 1px 10px #000;
    width: 100%;
    height: 5%;
    font-size: 130%;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 88%;
    display: flex;
    overflow: scroll;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box {
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 8%;
    display: flex;
    position: relative;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role {
    text-align: left;
    width: 18%;
    height: 60%;
    position: absolute;
    left: 0;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .role--icon {
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    left: 0;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .role--name {
    width: 75%;
    height: 50%;
    font-size: 90%;
    position: absolute;
    bottom: .2vw;
    right: 0;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .captain {
    background-image: url("../img/star-yellow.svg");
    color: #ff0 !important;
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__role .goalkeeper {
    background-image: url("../img/keeper-gloves.svg");
  }
  
  .statistics-panel .player-list-container .player-list-window .player-list__list .player-list__person-box .player-box__name {
    text-align: center;
    width: 60%;
    height: 60%;
    overflow: hidden;
  }
  
  .yellow {
    color: #ff0;
  }
  
  .bold {
    font-size: 150%;
    font-weight: 600;
  }
  
  .sub {
    aspect-ratio: 1;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-size: 80%;
    display: flex;
  }
  
  .statistics-matches__played {
    margin-right: 5vh;
  }
    
  .player-list__person-box::-webkit-scrollbar {
    display: block;
  }
  
  .player-list__person-box::-webkit-scrollbar-thumb {
    background-color: red;
  }
  
@media screen and (max-width: 1000px){
  .header-logo-container{
    scale: 0.5;
  }
  .header-logo-text{
    display: none !important;
  }
  .nav-links li .nav-link{
    font-size: 80%;
  }
  .team-details-container{
    width: 90% !important;
  }
  .team-details__statistics--container{
    width: 90% !important;
  }
  .statistics-format{
    width: 50%;
  }
  .player-list-container{
    width: 90% !important;
    left: 12vw !important;
  }
  .player-list__teammembers{
    font-size: 150% !important;
  }
  .player-list-window{
    width: 90% !important;
  }
  .player-box__role{
    scale: 0.5;
    gap: 2vw;
  }
  .role--name{
    font-size: 80% !important;
    left: 7vw;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
  .header-logo-container{
    scale: 0.5;
  }
  .header-logo-text{
    display: none !important;
  }
  .nav-links li .nav-link{
    font-size: 200%;
  }
  .team-details-container{
    width: 90% !important;
  }
  .team-details__statistics--container{
    width: 90% !important;
  }
  .statistics-format{
    width: 50%;
  }
  .player-list__header{
    font-size: 250% !important;
  }
  .player-list-container{
    width: 90% !important;
    left: 12vw !important;
  }
  .player-list__teammembers{
    font-size: 350% !important;
  }
  .player-list-window{
    width: 90% !important;
  }
  .player-box__role{
    display: flex;
    scale: 1;
  }
  .role--name{
    font-size: 150% !important;
    left: 7vw;
  }
  .role--icon{
    scale: 0.6;
  }
  .player-box__name{
    font-size: 250% !important;
  }
  .team-details__statistics--teamname{
    font-size: 500% !important;
  }
  .team-details__statistics--league{
    font-size: 300% !important;
  }
  .statistics-format{
    font-size: 250% !important;
  }
  .statistics-number-box__points, .statistics-matches__played, .statistics-scores__scores{
    font-size: 350% !important;
  }
  .sub{
    font-size: 250% !important;
  }
  .team-details__streak::before{
    font-size: 250% !important;
  }
  #streak li{
    font-size: 550% !important;
  }
}

.streak__draw{
  color: gray;
}