<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miniliga | add match</title>
    <link rel="stylesheet" href="../static/css/adding.css">
    <script defer src="../static/js/adding.js"></script>
</head>
<body>
    <span id="exclamation">
        <button id="exc-close-btn" class="">▼ close</button>
        <span>
            <b>Zasady przyznawania pkt. Bramkarza:</b><br>
            0-3 stracone bramki - max 10pkt<br>
            4-8 stracone bramki - max 9pkt<br>
            9-13 stracone bramki - max 8pkt<br>
            14+ stracone bramki - max 7pkt<br> 
        </span>
        <span>
            <b>Zasady przyznawania pkt. MVP:</b><br>
            Najlepszy zawodnik <b>wygranej</b> drużyny - 5pkt<br>
            Drugi najlepszy zawodnik <b>wygranej</b> drużyny - 1pkt<br>
            Najlepszy zawodnik <b>przegranej</b> drużyny - 3pkt<br>
            W przypadku <b>remisu</b> 5pkt dla najlepszych zawodników obu drużyn<br> 
        </span>
    </span>
    <div class="content">
        <form id="myform">
            <div class="banner">
                <select class="selector team_a" id="left-selector">
                    <option></option>
                </select>
                <div class="lol">
                      <input class="numerki" type="number" class="team-inputs" min="0" value="0" id="left-score">
                        <p>:</p>
                      <input class="numerki" type="number" class="team-inputs" min="0" value="0" id="right-score">
                </div>
                <select class="selector team_b" id="right-selector">
                    <option></option>
                </select>
            </div>
            <div class="main">
                <div class="left">
                    <nav class="left-nav">
                        <ul>
                            <li class="nav-name">Imie i nazwisko</li>
                            <li class="nav-goals">Gole</li>
                            <li class="nav-keepers">Pkt.<br> Bramkarza</li>
                            <li class="nav-mvp">MVP</li>
                            <li class="nav-played">Grał</li>
                        </ul>
                    </nav>
                    <div class="players-list"></div>
                </div>
                <div class="middle">
                    <input type="date" class="calendar" id="m-date"></input>
                    <input type='button' class="send-btn" value="Prześlij"></input>
                </div>
                <div class="right">
                    <nav class="left-nav">
                        <ul>
                            <li class="nav-name">Imie i nazwisko</li>
                            <li class="nav-goals">Gole</li>
                            <li class="nav-keepers">Pkt.<br> Bramkarza</li>
                            <li class="nav-mvp">MVP</li>
                            <li class="nav-played">Grał</li>
                        </ul>
                    </nav>
                        <div class="players-list"></div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>