<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miniliga | Clear Database</title>
    <link rel="stylesheet" href="../static/css/db-clear.css">
    <script defer src="../static/js/db-clear.js"></script>
</head>
<body>
    <div class="content">
        <p class="warning-msg">Warning! This page clears the database for new season, make sure that current database state is downloaded and pushed to git repo before you go any further.</p>
        <h1>Clear Database</h1>
        <div class="checkbox-question">
            <input type="checkbox" name="check" class="checkbox-db">
            <p>Are you sure you want to clear the data?</p>
        </div>
        <button class="confirm-button disabled">CONFIRM</button>
    </div>
</body>
</html>