<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="content">
        <div class="login-container">
            <h2>Sign In</h2>
            <h1 class="description">Sign in with username and password</h1>
            <h1 class="description-not-having">contact Admin if you don't have one</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
                {% endif %}
                <button type="submit">SIGN IN</button>
                <a href="../">homepage</a>
            </form>
        </div>
    </div>
</body>
</html>