<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miniliga Kraków</title>
    <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27' rel='stylesheet'>

    <link rel="icon" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/miniliga.css">
    <script type="module" src="../static/js/matches.js"></script>
</head>
<body>
<div class="container">
    <header class="header subpage">
        <nav class="nav">
            <div class="header-logo-container">
                <img class="header-logo-img" src="../static/img/logo.png">
                <div class="header-logo-text">MINILIGA</div>
            </div>
            <ul class="nav-links">
                <li class="nav-link"> <!--drużyny-->
                    <a class="nav-link" href="teams">Drużyny</a>
                </li>
                <li class="nav-link__2"><!--statystyki-->
                    <a class="nav-link" href="statistics">Statystyki</a>
                </li>
                <li class="nav-link__3"><!--mecze-->
                    <a class="nav-link nav-selected-highlight" href="">Mecze</a>
                </li>
                <li class="nav-link__4"><!--kontakt-->
                    <a class="nav-link" href="https://www.facebook.com/miniligakrakow/" target="_blank">Kontakt</a>
                </li>
            </ul>
        </nav>
        <div class="header-glass-panel">
<!--            <div class="glass-panel-nav">-->
<!--                <div class="glass-panel-searchbar">-->
<!--                    <img class="glass-panel-searchbar__icon" src="../src/img/search-icon.svg">-->
<!--                    <input class="glass-panel-searchbar__input" type="text" placeholder="Wyszukaj drużyny">-->
<!--                </div>-->
<!--                <div class="glass-panel-filter">-->
<!--                    <img class="glass-panel-filter__icon" src="../src/img/filter-icon.svg">-->
<!--                </div>-->
<!--            </div>-->
            <div class="glass-panel-content matches-container">
                <div class="values-container headline">
<!--                    <div class="headline__teamname team&#45;&#45;A">-->
<!--                        <div class="img"></div>-->
<!--                        <span>NazwąĄŚwdo ijawdowaijdawoi</span>-->
<!--                    </div>-->
<!--                    <span>wynik</span>-->
<!--                    <span class="headline__teamname team&#45;&#45;B">-->
<!--                        <span>NazwąĄ</span>-->
<!--                        <div class="img"></div>-->
<!--                    </span>-->
<!--                    <span class="headline__date">Data</span>-->
<!--                    //////////////////////////////-->
<!--                    HEADLINE NIE USUWAĆ NIGDY-->
                    <div class="headline__teamname">
                        <span class="long-name">Drużyna A</span>
                        <span class="short-name">A</span>
                    </div>
                    <span>wynik</span>
                    <span class="headline__teamname">
                        <span class="long-name">Drużyna B</span>
                        <span class="short-name">B</span>
                    </span>
                    <span class="headline__date">Data</span>
                </div>
<!--                    ////////////////////////////////////////////////////-->
                {% for match in matches %}
                    {% if match.accepted == true %}
                        <div class="values-container">
                            <div class="teamname-container team--A">
                                <a href="teams/{{match.team1.id}}">{{match.team1}}</a>
                                <img class="img" src="../static/img/{{ match.team1.league }}.png" />
                            </div>
                            <span class="values__score">{{match.team1score}}:{{match.team2score}}</span>
                            <span class="teamname-container team--B">
                                <img class="img" src="../static/img/{{ match.team2.league }}.png" />
                                <a href="teams/{{match.team2.id}}">{{match.team2}}</a>
                            </span>
                            <span class="values__date">{{match.matchdate|date:"d.m"}}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </header>
    <footer class="footer" id="kontakt">
        <div class="footer-copyright-container">
            <div class="footer-copyright__icon"><img src="../static/img/copyright-icon.svg" alt="Ikona copyright"></div>
            <div class="footer-copyright__text">2023 Maciej Budzich | Krzysztof Maron | wszelkie prawa zastrzeżone</div>
        </div>
        <div class="footer-socials-container">
            <div class="footer-socials-facebook-container">
                <div class="footer-socials-facebook__icon"><img src="../static/img/facebook-icon.svg" alt="Ikona facebook"></div>
                <div class="footer-socials-facebook__text">Miniliga</div>
            </div>
            <div class="footer-socials-mail-container">
                <div class="footer-socials-mail__icon"><img src="../static/img/mail-icon.svg" alt="Ikona mail"></div>
                <div class="footer-socials-mail__text">miniliga@gmail.com</div>
            </div>
        </div>
        <img class="footer-logo" src="../static/img/logo.png" alt="logo miniligi">
    </footer>
</div>
</body>
</html>